<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Mastermind</title>
<link rel="stylesheet" type="text/css" href="assets/styles/style.css">
<script src="assets/js_libs/jquery-1.8.1.min.js"></script>
<script src="assets/js_libs/underscore.js"></script>
<script src="assets/js_libs/backbone.js"></script>
<script src="assets/js_libs/backbone.localStorage.js"></script>
<script src="assets/build/app.js"></script>
</head>
<body>    
    <div id="game">
        <ul id="board">
            <!-- game goes here -->
        </ul>
    </div>
    <div id="allPieces">
        <div class="pieces">
            <div id="current_piece"></div>
            <div class="piece X">X</div>
            <div class="piece A">A</div>
            <div class="piece B">B</div>
            <div class="piece C">C</div>
            <div class="piece D">D</div>
            <div class="piece E">E</div>
            <div class="piece F">F</div>
        </div>
    </div>
    <div id="appLog">
        <div id="title"></div>
        <div id="top"></div>
        <div id="bottom"></div>
    </div>
    <div id="presentation"><a href="http://www.slideshare.net/bobbyroe/backbonejs-an-introduction-14284042">Backbone.js - an Introduction</a></div>
    
    <!-- templates -->
    <script type="text/template" id="turnView">
        <div class="turn <%= alt_class %> <%= locked_class %>" id="<%= id %>">
            <div class="pieces">
                <% code.split('').forEach( function(c,i) { %>
                    <div class="piece <%= c %>" id="<%= i %>"><%= c %></div><% }); %>
            </div>
            <span class="hint"><%= hint_string %></span> 
            <input class="go <%= disabled_class %>" type="submit" value="guess"/>
        </div>
    </script>

    <script type="text/template" id="solutionView">
        <div class="turn" id="solution">
            <div class="pieces <%= locked_class %>">
                <% code.split('').forEach( function(c, i) { %>
                    <div class="piece <%= c %>" id="<%= i %>"><%= c %></div>
                <% }); %>
            </div>
            <span class="hint"><%= hint_string %></span> 
            <input id="reveal" type="submit" value="<%= button_text %>"/>
        </div>
    </script>

</body>
</html>